{
  "source": "https://github.com/MicrosoftDocs/vsts-rest-api-specs",
  "docs": "https://learn.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-7.2",
  "version": "7.2",
  "swagger": "2.0",
  "spec_file_count": 56,
  "method_count": 1083,
  "hosts": [
    "advsec.dev.azure.com",
    "almsearch.dev.azure.com",
    "app.vssps.visualstudio.com",
    "artifacts.dev.azure.com",
    "auditservice.dev.azure.com",
    "dev.azure.com",
    "extmgmt.dev.azure.com",
    "feeds.dev.azure.com",
    "pkgs.dev.azure.com",
    "status.dev.azure.com",
    "vsaex.dev.azure.com",
    "vsrm.dev.azure.com",
    "vssps.dev.azure.com",
    "vstmr.dev.azure.com",
    "{service}dev.azure.com"
  ],
  "operations": [
    {
      "method": "GET",
      "host": "app.vssps.visualstudio.com",
      "path": "/_apis/accounts",
      "operationId": "Accounts_List",
      "spec": "account/7.2/accounts.json",
      "tool": "azure_devops_account_accounts_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/reporting/filtersSettings/alertsbatch",
      "operationId": "Filters Settings_List",
      "spec": "advancedSecurity/7.2/advancedSecurity.Reporting.json",
      "tool": "azure_devops_advanced_security_filters_settings_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/reporting/filtersSettings/alertsbatch",
      "operationId": "Filters Settings_Create",
      "spec": "advancedSecurity/7.2/advancedSecurity.Reporting.json",
      "tool": "azure_devops_advanced_security_filters_settings_create",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/reporting/filtersSettings/alertsbatch/{filterId}",
      "operationId": "Filters Settings_Get",
      "spec": "advancedSecurity/7.2/advancedSecurity.Reporting.json",
      "tool": "azure_devops_advanced_security_filters_settings_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/reporting/filtersSettings/alertsbatch/{filterId}",
      "operationId": "Filters Settings_Update",
      "spec": "advancedSecurity/7.2/advancedSecurity.Reporting.json",
      "tool": "azure_devops_advanced_security_filters_settings_update",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/reporting/filtersSettings/alertsbatch/{filterId}",
      "operationId": "Filters Settings_Delete",
      "spec": "advancedSecurity/7.2/advancedSecurity.Reporting.json",
      "tool": "azure_devops_advanced_security_filters_settings_delete",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/reporting/summary/alerts",
      "operationId": "Summary Dashboard_Get Alert Summary For Org",
      "spec": "advancedSecurity/7.2/advancedSecurity.Reporting.json",
      "tool": "azure_devops_advanced_security_summary_dashboard_get_alert_summary_for_org",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/reporting/summary/alertsbatch",
      "operationId": "Summary Dashboard_List",
      "spec": "advancedSecurity/7.2/advancedSecurity.Reporting.json",
      "tool": "azure_devops_advanced_security_summary_dashboard_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/reporting/summary/enablement",
      "operationId": "Summary Dashboard_Get Enablement Summary For Org",
      "spec": "advancedSecurity/7.2/advancedSecurity.Reporting.json",
      "tool": "azure_devops_advanced_security_summary_dashboard_get_enablement_summary_for_org",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/AlertsBatch",
      "operationId": "Alerts Batch_List",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_alerts_batch_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/alerts",
      "operationId": "Alerts_List",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_alerts_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/alerts/metadatabatch",
      "operationId": "Metadata Batch_List",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_metadata_batch_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/alerts/{alertId}",
      "operationId": "Alerts_Get",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_alerts_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/alerts/{alertId}",
      "operationId": "Alerts_Update",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_alerts_update",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/alerts/{alertId}/instances",
      "operationId": "Instances_List",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_instances_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/alerts/{alertId}/metadata",
      "operationId": "Metadata2_Get",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_metadata2_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/filters/branches",
      "operationId": "Analysis_List",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_analysis_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/pipelineAnalyses",
      "operationId": "Pipeline Analyses_Delete",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_pipeline_analyses_delete",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/alert/repositories/{repository}/pipelineAnalysis/{adoPipelineId}",
      "operationId": "Pipeline Analysis_Delete",
      "spec": "advancedSecurity/7.2/alert.json",
      "tool": "azure_devops_advanced_security_pipeline_analysis_delete",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/management/enablement",
      "operationId": "Org Enablement_Get",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_org_enablement_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PATCH",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/management/enablement",
      "operationId": "Org Enablement_Update",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_org_enablement_update",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/management/meterUsageEstimate/default",
      "operationId": "Org Meter Usage Estimate_Get",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_org_meter_usage_estimate_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/_apis/management/meterusage/default",
      "operationId": "Meter Usage_Get",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_meter_usage_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/management/enablement",
      "operationId": "Project Enablement_Get",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_project_enablement_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PATCH",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/management/enablement",
      "operationId": "Project Enablement_Update",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_project_enablement_update",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/management/meterUsageEstimate/default",
      "operationId": "Project Meter Usage Estimate_Get",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_project_meter_usage_estimate_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/management/repositories/{repository}/enablement",
      "operationId": "Repo Enablement_Get",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_repo_enablement_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PATCH",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/management/repositories/{repository}/enablement",
      "operationId": "Repo Enablement_Update",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_repo_enablement_update",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "advsec.dev.azure.com",
      "path": "/{organization}/{project}/_apis/management/repositories/{repository}/meterUsageEstimate/default",
      "operationId": "Repo Meter Usage Estimate_Get",
      "spec": "advancedSecurity/7.2/management.json",
      "tool": "azure_devops_advanced_security_repo_meter_usage_estimate_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/pipelinepermissions",
      "operationId": "Pipeline Permissions_Update Pipeline Permisions For Resources",
      "spec": "approvalsAndChecks/7.2/pipelinePermissions.json",
      "tool": "azure_devops_approvals_and_checks_pipeline_permissions_update_pipeline_permisions_for_resources",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/pipelinepermissions/{resourceType}/{resourceId}",
      "operationId": "Pipeline Permissions_Get",
      "spec": "approvalsAndChecks/7.2/pipelinePermissions.json",
      "tool": "azure_devops_approvals_and_checks_pipeline_permissions_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/pipelinepermissions/{resourceType}/{resourceId}",
      "operationId": "Pipeline Permissions_Update Pipeline Permisions For Resource",
      "spec": "approvalsAndChecks/7.2/pipelinePermissions.json",
      "tool": "azure_devops_approvals_and_checks_pipeline_permissions_update_pipeline_permisions_for_resource",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/configurations",
      "operationId": "Check Configurations_List",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_configurations_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/configurations",
      "operationId": "Check Configurations_Add",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_configurations_add",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/configurations/{id}",
      "operationId": "Check Configurations_Get",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_configurations_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/configurations/{id}",
      "operationId": "Check Configurations_Update",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_configurations_update",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/configurations/{id}",
      "operationId": "Check Configurations_Delete",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_configurations_delete",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/queryconfigurations",
      "operationId": "Check Configurations_Query",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_configurations_query",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/runs",
      "operationId": "Check Evaluations_Evaluate",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_evaluations_evaluate",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/runs/{checkSuiteId}",
      "operationId": "Check Evaluations_Get",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_evaluations_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/checks/runs/{checkSuiteId}",
      "operationId": "Check Evaluations_Update",
      "spec": "approvalsAndChecks/7.2/pipelinesChecks.json",
      "tool": "azure_devops_approvals_and_checks_check_evaluations_update",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/approvals",
      "operationId": "Approvals_Query",
      "spec": "approvalsAndChecks/7.2/pipelinesapproval.json",
      "tool": "azure_devops_approvals_and_checks_approvals_query",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/approvals",
      "operationId": "Approvals_Update",
      "spec": "approvalsAndChecks/7.2/pipelinesapproval.json",
      "tool": "azure_devops_approvals_and_checks_approvals_update",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/pipelines/approvals/{approvalId}",
      "operationId": "Approvals_Get",
      "spec": "approvalsAndChecks/7.2/pipelinesapproval.json",
      "tool": "azure_devops_approvals_and_checks_approvals_get",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/_apis/packaging/globalpermissions",
      "operationId": "Service  Settings_GetGlobalPermissions",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_service_settings_get_global_permissions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/_apis/packaging/globalpermissions",
      "operationId": "Service  Settings_SetGlobalPermissions",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_service_settings_set_global_permissions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/Packages/{packageId}/Versions/{packageVersionId}/provenance",
      "operationId": "Artifact  Details_GetPackageVersionProvenance",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_artifact_details_get_package_version_provenance",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/Packages/{packageId}/versionmetricsbatch",
      "operationId": "Artifact  Details_Query Package Version Metrics",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_artifact_details_query_package_version_metrics",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/Packages/{packageId}/versions",
      "operationId": "Artifact  Details_Get Package Versions",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_artifact_details_get_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/Packages/{packageId}/versions/{packageVersionId}",
      "operationId": "Artifact  Details_Get Package Version",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_artifact_details_get_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages",
      "operationId": "Recycle  Bin_Get Recycle Bin Packages",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_recycle_bin_get_recycle_bin_packages",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages",
      "operationId": "Recycle  Bin_Empty Recycle Bin",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_recycle_bin_empty_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages/{packageId}",
      "operationId": "Recycle  Bin_Get Recycle Bin Package",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_recycle_bin_get_recycle_bin_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages/{packageId}/Versions",
      "operationId": "Recycle  Bin_Get Recycle Bin Package Versions",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_recycle_bin_get_recycle_bin_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/RecycleBin/Packages/{packageId}/Versions/{packageVersionId}",
      "operationId": "Recycle  Bin_Get Recycle Bin Package Version",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_recycle_bin_get_recycle_bin_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/packagechanges",
      "operationId": "Change  Tracking_Get Package Changes",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_change_tracking_get_package_changes",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/packagemetricsbatch",
      "operationId": "Artifact  Details_Query Package Metrics",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_artifact_details_query_package_metrics",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/packages",
      "operationId": "Artifact  Details_Get Packages",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_artifact_details_get_packages",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/packages/{packageId}",
      "operationId": "Artifact  Details_Get Package",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_artifact_details_get_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/permissions",
      "operationId": "Feed  Management_Get Feed Permissions",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_get_feed_permissions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/permissions",
      "operationId": "Feed  Management_Set Feed Permissions",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_set_feed_permissions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/retentionpolicies",
      "operationId": "Retention  Policies_Get Retention Policy",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_retention_policies_get_retention_policy",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PUT",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/retentionpolicies",
      "operationId": "Retention  Policies_Set Retention Policy",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_retention_policies_set_retention_policy",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/retentionpolicies",
      "operationId": "Retention  Policies_Delete Retention Policy",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_retention_policies_delete_retention_policy",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/views",
      "operationId": "Feed  Management_Get Feed Views",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_get_feed_views",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/views",
      "operationId": "Feed  Management_Create Feed View",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_create_feed_view",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/views/{viewId}",
      "operationId": "Feed  Management_Get Feed View",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_get_feed_view",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/views/{viewId}",
      "operationId": "Feed  Management_Update Feed View",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_update_feed_view",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/Feeds/{feedId}/views/{viewId}",
      "operationId": "Feed  Management_Delete Feed View",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_delete_feed_view",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feedchanges",
      "operationId": "Change  Tracking_Get Feed Changes",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_change_tracking_get_feed_changes",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feedchanges/{feedId}",
      "operationId": "Change  Tracking_Get Feed Change",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_change_tracking_get_feed_change",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feedrecyclebin",
      "operationId": "Feed Recycle Bin_List",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_recycle_bin_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feedrecyclebin/{feedId}",
      "operationId": "Feed Recycle Bin_Restore Deleted Feed",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_recycle_bin_restore_deleted_feed",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feedrecyclebin/{feedId}",
      "operationId": "Feed Recycle Bin_Permanent Delete Feed",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_recycle_bin_permanent_delete_feed",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds",
      "operationId": "Feed  Management_Get Feeds",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_get_feeds",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds",
      "operationId": "Feed  Management_Create Feed",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_create_feed",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}",
      "operationId": "Feed  Management_Get Feed",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_get_feed",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}",
      "operationId": "Feed  Management_Update Feed",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_update_feed",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}",
      "operationId": "Feed  Management_Delete Feed",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_feed_management_delete_feed",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "feeds.dev.azure.com",
      "path": "/{organization}/{project}/_apis/public/packaging/Feeds/{feedId}/Packages/{packageId}/badge",
      "operationId": "Artifact  Details_Get Badge",
      "spec": "artifacts/7.2/feed.json",
      "tool": "azure_devops_artifacts_artifact_details_get_badge",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/provenance/session/{protocol}",
      "operationId": "Provenance_CreateSession",
      "spec": "artifacts/7.2/provenance.json",
      "tool": "azure_devops_artifacts_provenance_create_session",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/cargo/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Cargo_GetPackageVersionFromRecycleBin",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_get_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/cargo/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Cargo_Restore Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_restore_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/cargo/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Cargo_Delete Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_delete_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/cargo/RecycleBin/packagesBatch",
      "operationId": "Cargo_Update Recycle Bin Package Versions",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_update_recycle_bin_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/cargo/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Cargo_Get Package Version",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_get_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/cargo/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Cargo_Update Package Version",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_update_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/cargo/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Cargo_Delete Package Version",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_delete_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/cargo/packages/{packageName}/upstreaming",
      "operationId": "Cargo_Get Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_get_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/cargo/packages/{packageName}/upstreaming",
      "operationId": "Cargo_Set Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_set_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_packaging/packaging/feeds/{feedId}/cargo/packagesbatch",
      "operationId": "Cargo_Update Package Versions",
      "spec": "artifactsPackageTypes/7.2/cargoApi-AzureArtifacts.json",
      "tool": "azure_devops_artifacts_package_types_cargo_update_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/maven/packagesbatch",
      "operationId": "Maven_Update Package Versions",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_update_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/maven/{groupId}/{artifactId}/{version}/{fileName}/content",
      "operationId": "Maven_DownloadPackage",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_download_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/RecycleBin/groups/{groupId}/artifacts/{artifactId}/versions/{version}",
      "operationId": "Maven_GetPackageVersionFromRecycleBin",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_get_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/RecycleBin/groups/{groupId}/artifacts/{artifactId}/versions/{version}",
      "operationId": "Maven_Restore Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_restore_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/RecycleBin/groups/{groupId}/artifacts/{artifactId}/versions/{version}",
      "operationId": "Maven_DeletePackageVersionFromRecycleBin",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_delete_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/RecycleBin/packagesBatch",
      "operationId": "Maven_Update Recycle Bin Packages",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_update_recycle_bin_packages",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/groups/{groupId}/artifacts/{artifactId}/upstreaming",
      "operationId": "Maven_Get Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_get_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/groups/{groupId}/artifacts/{artifactId}/upstreaming",
      "operationId": "Maven_Set Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_set_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/groups/{groupId}/artifacts/{artifactId}/versions/{version}",
      "operationId": "Maven_Get Package Version",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_get_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/groups/{groupId}/artifacts/{artifactId}/versions/{version}",
      "operationId": "Maven_Update Package Version",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_update_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feed}/maven/groups/{groupId}/artifacts/{artifactId}/versions/{version}",
      "operationId": "Maven_DeletePackageVersion",
      "spec": "artifactsPackageTypes/7.2/maven.json",
      "tool": "azure_devops_artifacts_package_types_maven_delete_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/_apis/packaging/npm/validateupstream",
      "operationId": "Npm_Validate Custom Public Upstream Source",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_validate_custom_public_upstream_source",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}",
      "operationId": "Npm_GetScopedPackageVersion",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_get_scoped_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}",
      "operationId": "Npm_Update Scoped Package",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_update_scoped_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}",
      "operationId": "Npm_Unpublish Scoped Package",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_unpublish_scoped_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/RecycleBin/PackagesBatch",
      "operationId": "Npm_Update Recycle Bin Packages",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_update_recycle_bin_packages",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/RecycleBin/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}",
      "operationId": "Npm_GetScopedPackageVersionFromRecycleBin",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_get_scoped_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/RecycleBin/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}",
      "operationId": "Npm_Restore Scoped Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_restore_scoped_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/RecycleBin/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}",
      "operationId": "Npm_Delete Scoped Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_delete_scoped_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Npm_GetPackageVersionFromRecycleBin",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_get_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Npm_Restore Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_restore_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Npm_Delete Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_delete_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packages/@{packageScope}/{unscopedPackageName}/upstreaming",
      "operationId": "Npm_GetPackageUpstreamingBehavior",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_get_package_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packages/@{packageScope}/{unscopedPackageName}/upstreaming",
      "operationId": "Npm_Set Scoped Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_set_scoped_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}/content",
      "operationId": "Npm_DownloadScopedPackage",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_download_scoped_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packages/@{packageScope}/{unscopedPackageName}/versions/{packageVersion}/readme",
      "operationId": "Npm_GetScopedPackageReadme",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_get_scoped_package_readme",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packages/{packageName}/upstreaming",
      "operationId": "Npm_GetScopedPackageUpstreamingBehavior",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_get_scoped_package_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packages/{packageName}/upstreaming",
      "operationId": "Npm_Set Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_set_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packages/{packageName}/versions/{packageVersion}/content",
      "operationId": "Npm_DownloadPackage",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_download_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packages/{packageName}/versions/{packageVersion}/readme",
      "operationId": "Npm_GetPackageReadme",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_get_package_readme",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/packagesbatch",
      "operationId": "Npm_Update Packages",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_update_packages",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/{packageName}/versions/{packageVersion}",
      "operationId": "Npm_GetPackageVersion",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_get_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/{packageName}/versions/{packageVersion}",
      "operationId": "Npm_Update Package",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_update_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/npm/{packageName}/versions/{packageVersion}",
      "operationId": "Npm_Unpublish Package",
      "spec": "artifactsPackageTypes/7.2/npm.json",
      "tool": "azure_devops_artifacts_package_types_npm_unpublish_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "NuGet_GetPackageVersionFromRecycleBin",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_get_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "NuGet_Restore Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_restore_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "NuGet_Delete Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_delete_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/RecycleBin/packagesBatch",
      "operationId": "NuGet_Update Recycle Bin Package Versions",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_update_recycle_bin_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/upstreaming",
      "operationId": "NuGet_Get Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_get_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/upstreaming",
      "operationId": "NuGet_Set Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_set_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/versions/{packageVersion}",
      "operationId": "NuGet_Get Package Version",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_get_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/versions/{packageVersion}",
      "operationId": "NuGet_Update Package Version",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_update_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/versions/{packageVersion}",
      "operationId": "NuGet_Delete Package Version",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_delete_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/packages/{packageName}/versions/{packageVersion}/content",
      "operationId": "NuGet_Download Package",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_download_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/nuget/packagesbatch",
      "operationId": "NuGet_Update Package Versions",
      "spec": "artifactsPackageTypes/7.2/nuGet.json",
      "tool": "azure_devops_artifacts_package_types_nu_get_update_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Python_GetPackageVersionFromRecycleBin",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_get_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Python_Restore Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_restore_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Python_Delete Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_delete_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/RecycleBin/packagesBatch",
      "operationId": "Python_Update Recycle Bin Package Versions",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_update_recycle_bin_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/packages/{packageName}/upstreaming",
      "operationId": "Python_Get Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_get_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/packages/{packageName}/upstreaming",
      "operationId": "Python_Set Upstreaming Behavior",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_set_upstreaming_behavior",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Python_Get Package Version",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_get_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Python_Update Package Version",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_update_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Python_Delete Package Version",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_delete_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/packages/{packageName}/versions/{packageVersion}/{fileName}/content",
      "operationId": "Python_Download Package",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_download_package",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/pypi/packagesbatch",
      "operationId": "Python_Update Package Versions",
      "spec": "artifactsPackageTypes/7.2/pyPiApi.json",
      "tool": "azure_devops_artifacts_package_types_python_update_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/upack/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Universal_GetPackageVersionFromRecycleBin",
      "spec": "artifactsPackageTypes/7.2/universal.json",
      "tool": "azure_devops_artifacts_package_types_universal_get_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/upack/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Universal_Restore Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/universal.json",
      "tool": "azure_devops_artifacts_package_types_universal_restore_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/upack/RecycleBin/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Universal_Delete Package Version From Recycle Bin",
      "spec": "artifactsPackageTypes/7.2/universal.json",
      "tool": "azure_devops_artifacts_package_types_universal_delete_package_version_from_recycle_bin",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/upack/RecycleBin/packagesBatch",
      "operationId": "Universal_Update Recycle Bin Package Versions",
      "spec": "artifactsPackageTypes/7.2/universal.json",
      "tool": "azure_devops_artifacts_package_types_universal_update_recycle_bin_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/upack/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Universal_Get Package Version",
      "spec": "artifactsPackageTypes/7.2/universal.json",
      "tool": "azure_devops_artifacts_package_types_universal_get_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/upack/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Universal_Update Package Version",
      "spec": "artifactsPackageTypes/7.2/universal.json",
      "tool": "azure_devops_artifacts_package_types_universal_update_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/upack/packages/{packageName}/versions/{packageVersion}",
      "operationId": "Universal_Delete Package Version",
      "spec": "artifactsPackageTypes/7.2/universal.json",
      "tool": "azure_devops_artifacts_package_types_universal_delete_package_version",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "pkgs.dev.azure.com",
      "path": "/{organization}/{project}/_apis/packaging/feeds/{feedId}/upack/packagesbatch",
      "operationId": "Universal_Update Package Versions",
      "spec": "artifactsPackageTypes/7.2/universal.json",
      "tool": "azure_devops_artifacts_package_types_universal_update_package_versions",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/actions",
      "operationId": "Actions_List",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_actions_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/auditlog",
      "operationId": "Audit Log_Query",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_audit_log_query",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/downloadlog",
      "operationId": "Download Log_Download Log",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_download_log_download_log",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/streams",
      "operationId": "Streams_Query All Streams",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_streams_query_all_streams",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/streams",
      "operationId": "Streams_Create",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_streams_create",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PUT",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/streams",
      "operationId": "Streams_Update Stream",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_streams_update_stream",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/streams/{streamId}",
      "operationId": "Streams_Query Stream By Id",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_streams_query_stream_by_id",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PUT",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/streams/{streamId}",
      "operationId": "Streams_Update Status",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_streams_update_status",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "auditservice.dev.azure.com",
      "path": "/{organization}/_apis/audit/streams/{streamId}",
      "operationId": "Streams_Delete",
      "spec": "audit/7.2/audit.json",
      "tool": "azure_devops_audit_streams_delete",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/build/controllers",
      "operationId": "Controllers_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_controllers_list",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/build/controllers/{controllerId}",
      "operationId": "Controllers_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_controllers_get",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/build/resourceusage",
      "operationId": "Resource Usage_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_resource_usage_get",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/build/retention/history",
      "operationId": "History_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_history_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/public/build/definitions/{project}/{definitionId}/badge",
      "operationId": "Badge_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_badge_get",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/authorizedresources",
      "operationId": "Authorizedresources_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_authorizedresources_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/authorizedresources",
      "operationId": "Authorizedresources_Authorize Project Resources",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_authorizedresources_authorize_project_resources",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds",
      "operationId": "Builds_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_list",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds",
      "operationId": "Builds_Queue",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_queue",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds",
      "operationId": "Builds_Update Builds",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_update_builds",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}",
      "operationId": "Builds_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}",
      "operationId": "Builds_Update Build",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_update_build",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}",
      "operationId": "Builds_Delete",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_delete",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/Timeline/stages/{stageName}",
      "operationId": "Stage Timeline_Get Build Stage Latest Timeline",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_stage_timeline_get_build_stage_latest_timeline",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/Timeline/{timelineId}/stages/{stageName}",
      "operationId": "Stage Timeline_Get Build Stage Timeline",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_stage_timeline_get_build_stage_timeline",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/artifacts",
      "operationId": "Artifacts_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_artifacts_list",
      "api_version": "7.2-preview.5"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/artifacts",
      "operationId": "Artifacts_Create",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_artifacts_create",
      "api_version": "7.2-preview.5"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/attachments/{type}",
      "operationId": "Attachments_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_attachments_list",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/changes",
      "operationId": "Builds_Get Build Changes",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get_build_changes",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/leases",
      "operationId": "Builds_Get Retention Leases For Build",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get_retention_leases_for_build",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/logs",
      "operationId": "Builds_Get Build Logs",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get_build_logs",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/logs/{logId}",
      "operationId": "Builds_Get Build Log",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get_build_log",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/properties",
      "operationId": "Properties_Get Build Properties",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_properties_get_build_properties",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/properties",
      "operationId": "Properties_Update Build Properties",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_properties_update_build_properties",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/report",
      "operationId": "Report_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_report_get",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/stages/{stageRefName}",
      "operationId": "Stages_Update",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_stages_update",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/tags",
      "operationId": "Tags_Get Build Tags",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_get_build_tags",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/tags",
      "operationId": "Tags_Add Build Tags",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_add_build_tags",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/tags",
      "operationId": "Tags_Update Build Tags",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_update_build_tags",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PUT",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/tags/{tag}",
      "operationId": "Tags_Add Build Tag",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_add_build_tag",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/tags/{tag}",
      "operationId": "Tags_Delete Build Tag",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_delete_build_tag",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/timeline/{timelineId}",
      "operationId": "Timeline_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_timeline_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/workitems",
      "operationId": "Builds_Get Build Work Items Refs",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get_build_work_items_refs",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/workitems",
      "operationId": "Builds_Get Build Work Items Refs From Commits",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get_build_work_items_refs_from_commits",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/builds/{buildId}/{timelineId}/{recordId}/attachments/{type}/{name}",
      "operationId": "Attachments_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_attachments_get",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/changes",
      "operationId": "Builds_Get Changes Between Builds",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get_changes_between_builds",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions",
      "operationId": "Definitions_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_definitions_list",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions",
      "operationId": "Definitions_Create",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_definitions_create",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/templates",
      "operationId": "Templates_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_templates_list",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/templates/{templateId}",
      "operationId": "Templates_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_templates_get",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PUT",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/templates/{templateId}",
      "operationId": "Templates_Save Template",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_templates_save_template",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/templates/{templateId}",
      "operationId": "Templates_Delete",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_templates_delete",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{DefinitionId}/tags",
      "operationId": "Tags_Get Definition Tags",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_get_definition_tags",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{DefinitionId}/tags",
      "operationId": "Tags_Add Definition Tags",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_add_definition_tags",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{DefinitionId}/tags",
      "operationId": "Tags_Update Definition Tags",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_update_definition_tags",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "PUT",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{DefinitionId}/tags/{tag}",
      "operationId": "Tags_Add Definition Tag",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_add_definition_tag",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{DefinitionId}/tags/{tag}",
      "operationId": "Tags_Delete Definition Tag",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_delete_definition_tag",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}",
      "operationId": "Definitions_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_definitions_get",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "PUT",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}",
      "operationId": "Definitions_Update",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_definitions_update",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}",
      "operationId": "Definitions_Restore Definition",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_definitions_restore_definition",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}",
      "operationId": "Definitions_Delete",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_definitions_delete",
      "api_version": "7.2-preview.8"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}/metrics",
      "operationId": "Metrics_Get Definition Metrics",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_metrics_get_definition_metrics",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}/properties",
      "operationId": "Properties_Get Definition Properties",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_properties_get_definition_properties",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}/properties",
      "operationId": "Properties_Update Definition Properties",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_properties_update_definition_properties",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}/resources",
      "operationId": "Resources_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_resources_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}/resources",
      "operationId": "Resources_Authorize Definition Resources",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_resources_authorize_definition_resources",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}/revisions",
      "operationId": "Definitions_Get Definition Revisions",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_definitions_get_definition_revisions",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/definitions/{definitionId}/yaml",
      "operationId": "Yaml_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_yaml_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/folders",
      "operationId": "Folders_Update",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_folders_update",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "PUT",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/folders",
      "operationId": "Folders_Create",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_folders_create",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/folders",
      "operationId": "Folders_Delete",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_folders_delete",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/folders/{path}",
      "operationId": "Folders_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_folders_list",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/generalsettings",
      "operationId": "General Settings_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_general_settings_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/generalsettings",
      "operationId": "General Settings_Update",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_general_settings_update",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/latest/{definition}",
      "operationId": "Latest_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_latest_get",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/metrics/{metricAggregationType}",
      "operationId": "Metrics_Get Project Metrics",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_metrics_get_project_metrics",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/options",
      "operationId": "Options_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_options_list",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/repos/{repoType}/badge",
      "operationId": "Badge_Get Build Badge Data",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_badge_get_build_badge_data",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/retention",
      "operationId": "Retention_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_retention_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/retention",
      "operationId": "Retention_Update",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_retention_update",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/retention/leases",
      "operationId": "Leases_Get Retention Leases By Minimal Retention Leases",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_leases_get_retention_leases_by_minimal_retention_leases",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/retention/leases",
      "operationId": "Leases_Add",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_leases_add",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/retention/leases",
      "operationId": "Leases_Delete",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_leases_delete",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/retention/leases/{leaseId}",
      "operationId": "Leases_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_leases_get",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/retention/leases/{leaseId}",
      "operationId": "Leases_Update",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_leases_update",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/settings",
      "operationId": "Settings_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_settings_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/settings",
      "operationId": "Settings_Update",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_settings_update",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/status/{definition}",
      "operationId": "Status_Get",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_status_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/tags",
      "operationId": "Tags_Get Tags",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_get_tags",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/tags/{tag}",
      "operationId": "Tags_Delete Tag",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_tags_delete_tag",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/build/workitems",
      "operationId": "Builds_Get Work Items Between Builds",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_builds_get_work_items_between_builds",
      "api_version": "7.2-preview.2"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/sourceProviders/{providerName}/branches",
      "operationId": "Source Providers_List Branches",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_source_providers_list_branches",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/sourceProviders/{providerName}/filecontents",
      "operationId": "Source Providers_Get File Contents",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_source_providers_get_file_contents",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/sourceProviders/{providerName}/pathcontents",
      "operationId": "Source Providers_Get Path Contents",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_source_providers_get_path_contents",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/sourceProviders/{providerName}/pullrequests/{pullRequestId}",
      "operationId": "Source Providers_Get Pull Request",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_source_providers_get_pull_request",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/sourceProviders/{providerName}/repositories",
      "operationId": "Source Providers_List Repositories",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_source_providers_list_repositories",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/sourceProviders/{providerName}/webhooks",
      "operationId": "Source Providers_List Webhooks",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_source_providers_list_webhooks",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/sourceProviders/{providerName}/webhooks",
      "operationId": "Source Providers_Restore Webhooks",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_source_providers_restore_webhooks",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/{project}/_apis/sourceproviders",
      "operationId": "Source Providers_List",
      "spec": "build/7.2/build.json",
      "tool": "azure_devops_build_source_providers_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/process/processes",
      "operationId": "Processes_List",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_processes_list",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/process/processes/{processId}",
      "operationId": "Processes_Get",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_processes_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects",
      "operationId": "Projects_List",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_projects_list",
      "api_version": "7.2-preview.4"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects",
      "operationId": "Projects_Create",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_projects_create",
      "api_version": "7.2-preview.4"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}",
      "operationId": "Projects_Get",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_projects_get",
      "api_version": "7.2-preview.4"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}",
      "operationId": "Projects_Update",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_projects_update",
      "api_version": "7.2-preview.4"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}",
      "operationId": "Projects_Delete",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_projects_delete",
      "api_version": "7.2-preview.4"
    },
    {
      "method": "PUT",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}/avatar",
      "operationId": "Avatar_Set Project Avatar",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_avatar_set_project_avatar",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "DELETE",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}/avatar",
      "operationId": "Avatar_Remove Project Avatar",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_avatar_remove_project_avatar",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}/categorizedteams/",
      "operationId": "Categorized Teams_Get",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_categorized_teams_get",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}/properties",
      "operationId": "Projects_Get Project Properties",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_projects_get_project_properties",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "PATCH",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}/properties",
      "operationId": "Projects_Set Project Properties",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_projects_set_project_properties",
      "api_version": "7.2-preview.1"
    },
    {
      "method": "GET",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}/teams",
      "operationId": "Teams_Get Teams",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_teams_get_teams",
      "api_version": "7.2-preview.3"
    },
    {
      "method": "POST",
      "host": "dev.azure.com",
      "path": "/{organization}/_apis/projects/{projectId}/teams",
      "operationId": "Teams_Create",
      "spec": "core/7.2/core.json",
      "tool": "azure_devops_core_teams_create",
[...]
